body {
	box-sizing: border-box;
}

.holder {
	padding: 10px;
	height: 50%;
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	border: 10px solid gray;
}

.card {
	height: 150px;
	width: 100px;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	transition: transform 0.2s;
}

.card:hover {
	transition: transform 0.2s;
	transform: scale(110%, 110%);
}

.upper {
	height: 30px;
	width: 100%;
	background-color: blue;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.date {
	font-size: 16px;
	font-weight: bold;
	color: white;
	margin: 0;
}

.lower {
	width: 100%;
	height: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.icon {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: darkorange;
}

.temp {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}